/**{
		outline:1px solid red;
	}*/

html body{
	width: 100%;
	margin:0;
	padding:0;
	height:100%;
}

body {
	margin: 0 auto;
	height: 100%;
}

@font-face {
    font-family: breuer;
    font-weight: 100;
    src: url(fonts/BreuerText-Light.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 200;
    src: url(fonts/BreuerText-LightItalic.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 300;
    src: url(fonts/BreuerText-Regular.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 400;
    src: url(fonts/BreuerText-RegularItalic.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 500;
    src: url(fonts/BreuerText-Bold.otf);
}

@font-face {
    font-family: breuer;
    font-weight: 600;
    src: url(fonts/BreuerText-BoldItalic.otf);
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.sidenav {
	position: fixed;
	background-color: hsla(56, 98%, 52%, 0.65);
	margin: 0px 0px 0px 7%;
	width: 160px;
	height: 100%;
	z-index: 99;

} 

.logo{
	position: fixed;
	top: 50px;
	left: 9.1%;
	width: 80px;
}

.nav{
	position: fixed;
	top: 140px;
}

.nav2{
	position: fixed;
	top: 260px;
}



ul {
	list-style-type: none;
	padding-left: 0px;
	width: 160px;

}

li {
	color: #272727;
	margin-left: 0px;
	text-align: center;
	font-family: breuer;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: .5px;
}

.arrow{
	margin: 0px 0px 0px 38%;
}


.covertitle{
	position: absolute;
	margin: 12% 0px 0px 23%;
	z-index: 99;
	width: 700px;
}

.logintitle{
	position: absolute;
	margin: 14% 0px 0px 43%;
	z-index: 99;
	width: 700px;
}

.trainingtitle{
	position: absolute;
	margin: 27.5% 0px 0px 51%;
	z-index: 99;
	width: 700px;
}

.learnmorebox{
	position: absolute;
	margin: 49% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.createaccountbox{
	position: absolute;
	margin: 37% 0px 0px 48.5%;
	width: 175px;
	height: 17px;
	z-index: 101;
}

.planlinks{
	position: absolute;
	margin: 46.5% 0px 0px 40.2%;
	width: 20%;
	height: 8%;
	z-index: 101;
}

.planbox{
	float: left;
	margin: 0% 0px 0px 10.5%;
	width: 75px;
	height: 80px;
	z-index: 101;
}


h1 {
	font-family: breuer;
	font-weight: 500;
	font-size: 8em;
	letter-spacing: -5px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.lgtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -70px 0px 0px 0px;
	padding: 0px;
}

.smtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 6em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 500px;
	height: 100px;
	margin: 0px 0px 0px 95px;
	padding: 0px;
}

.smlogin {
	margin: -10px 0px 0px 23%;
	padding: 0px;
}

.createtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -10% 0px 0px -8.5%;
	padding: 0px;
}

.smaccount {
	margin: -10px 0px 0px 6.2%;
	padding: 0px;
}

.lgtraining {
	width: 700px;
	height: 150px;
	margin: -70px 0px 0px 0px;
	padding: 0px;
}

.smplans {
	width: 500px;
	height: 100px;
	margin: -13px 0px 0px 95px;
}

.lgprotein {
	width: 700px;
	height: 150px;
	margin: 170px 0px 0px 60px;
	padding: 0px;
}

.smapparel {
	width: 500px;
	height: 100px;
	margin: -11.5px 0px 0px 190px;
}

.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -70px 0px 0px 0px;
	padding: 0px;
}

.lgbuilt {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	/*color: hsla(56, 98%, 52%, 0.65);*/
	color: hsla(0, 0%, 0%, 0.97);
	width: 100%;
	height: 500px;
	margin: 0px 0px 0px 0px;
	padding: 150px;
	line-height: .65em;
	text-align: center;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 6em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 500px;
	height: 100px;
	margin: 0px 0px 0px 295px;
	padding: 0px;
}


.learnmore {
	font-family: breuer;
	font-weight: 100;
	font-size: 1em;
	letter-spacing: 0px;
	color: #837f31;
	/*color: hsla(56, 98%, 52%, 0.65);*/
	width: 75px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}

.createaccount {
	width: 175px;
	height: 20px;
	margin: 0px 0px 0px 0px;

}

h2 {
	font-family: breuer;
	font-weight: 500;
	font-size: 7em;
	letter-spacing: -3px;
	color: #272727;
	width: 100%;
	height: 62px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding: 0px;
	line-height: .75em;

}

h3 {
	font-family: breuer;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #272727;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	margin-top: 13px;
	text-align: center;
	padding: 0px;
	text-transform: uppercase;
	line-height: 1.2em;
}


.viewplan {
	font-family: breuer;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #837f31;
}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 4.5em;
	letter-spacing: 0px;
	color: hsla(0, 0%, 0%, 0.67);
/*	color: #5a5637;*/
	width: 100%;
	height: 410px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	padding: 0px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 4.5em;
	letter-spacing: 0px;
	color: hsla(0, 0%, 0%, 0.67);
/*	color: #5a5637;*/
	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	padding: 0px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

.goldfour {
	float: left;
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: 0px;
	color: hsla(56, 98%, 52%, 0.65);
/*	color: #5a5637;*/
	width: 100%;
	height: 200px;
	margin: 0;
	text-align: left;
	padding: 0px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

h5 {
	font-family: breuer;
	font-weight: 100;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #272727;
	width: 100%;
	height: 125px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	line-height: 1.1em;
}

.headericonbox{
	width: 100%;
}

.headericon{
	margin: 0px 0px 0px 530px;
	width: 7%;
}

.head {
	margin-top:100px;
}

.buybox {
	margin-top:100px;
	height: 570px;
}

.smbtn {
	float: left;
	margin:100px 0px 0px -180px;
	height: 55px;
}

.smbtnsubmit {
	float: right;
	margin: -78px 0px 0px 0px;
	height: 75px;
	width: 270px;
	border-left: solid 1px #837f31;
}

.contacttext{
	height: 250px;	
}

.textmessage{
	margin-top: 20px;
	height: 460px;
	border-top: solid 1px #837f31;

}

textarea{
	font-family: breuer;
	font-size: 3em;
	line-height: 1.2em;
	margin-top: 20px;
	width: 1140px;
	height: 350px;
	border: none;
}


.starttext{
	height: 1050px;	
}

.thankyoutext{
	height: 600px;	
}

.championtitle{
	margin: 190px 0px 0px 845px;
}

.championtext{
	margin: 410px 0px 0px 852px;
}

.room{
	margin-bottom: 50px;
}

.planicon{
	margin: 0px 0px 0px 38%;
	width: 65px;
}

.plantitleicon{
	margin: 0px 0px 0px 7%;
	width: 65px;
}

.proteinpic{
	margin: 0px 0px 0px 0%;
	width: 100%;
}

.proteinpic2{
	float: left;
	margin: 0px 0px 0px 5%;
	width: 20%;
}

.shirtpage{
	float: left;
	margin: 0px 0px 0px 0%;
	padding: 0px;
	width: 45%;
}

.headquarters{
	float: left;
	margin: -23px 0px 0px 0%;
	padding: 0px;
	width: 100%;
	height: 730px;
}


.plantitle {
	height: 30px;
	font-size: 2.4em;
	font-weight: 400;
	color:#837f31;
}

.plantitlecart {
	float: left;
	height: 30px;
	width: 87%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.totaltitle {
	float: right;
	margin: -3px 0px 0px 0px;
	height: 30px;
	width: 10%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.totalnumber {
	float: right;
	margin: -3px 0px 0px 0px;
	height: 30px;
	width: 7%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.phone {
	float: left;
	margin: 44px 0px 0px 30px;
	height: 30px;
	width:23%;
	font-size: 1.7em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.phone3 {
	width:45%;
margin: 44px 0px 0px 3%;
}

.plantext {
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
}

.plantextcart {
	float: left;
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	width: 100%;
	text-align: left;
}

.quantitytitle {
	float: left;
	font-size: 1.6em;
	margin: -20px 0px 0px 50px;
	height: 21px;
	width: 100px;
	text-align: left;
	color: #837f31;
}

.featureblacktext {
/*	color: hsla(360, 100%, 100%, 0.20);*/
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	color:#837f31;

	}

.viewplan{
	font-size: 1.4em;
	margin: 0px 0px 0px 0px;
	height: 30px;

	}

.plans{
	padding-top: 25px;
	height: 400px;
}

.sellprotein{
	padding-top: 25px;
	height: 600px;
}

.purchasecart{
	padding-top: 25px;
	height: 1000px;
	border-top: 1px solid #837f31;
	/*border-bottom: 1px solid #837f31;*/
}

.shirtcontainer{
	padding-top: 25px;
	height: 750px;
}

.contactontainer{
	border-top: 1px solid #837f31;
	padding-top: 25px;
	height: 750px;
}

.totalrow{
	margin-top: -15px;
	margin-bottom: 30px;
	height: 85px;
	border-top: 1px solid #837f31;
	border-bottom: 1px solid #837f31;
}

.sellplan{
	padding-top: 140px;
	height: 600px;
}

.sellshirts{
	padding-top: 25px;
	height: 2450px;
}

.blacktriangles{
	background-color: #111111;
	width: 100%;
	height: 500px;

}

.blacktrianglesfooter{
	background-color: #111111;
	width: 100%;
	height: 500px;
}

.proteinc{
	height: 540px;

}

.smshirtc{
	height: 320px;

}

.purchaserow{
	height: 300px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.shirtbox{
	height: 700px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.purchasebtncart{
	margin-top: 130px;
	height: 170px;
}

.purchaseinfo{
	float: left;
	height: 257px;
	width: 55%;
	margin:40px 0px 0px 80px;
}

.shirtinfo{
	float: left;
	height: 457px;
	width: 52%;
	margin:40px 0px 0px 20px;
}

.priceinfo{
	float: left;
	height: 50px;
	width: 10%;
	margin:0px 0px 0px 2px;
}

.planc{
	height: 180px;

}

.shirtc{
	height: 760px;
}

.moreshirts {
	margin-top: 0px; 
	height: 345px;
}

.purchasetext{
	height: 260px;
}

.contactcontainer{
	margin-top: 0px;
	height: 460px;
	padding: 0px;
}

.headquartercontainer{
	margin-top: 30px;
	height: 720px;
	padding: 0px;
}

.purchaseprocesscontainer{
	margin-top: 100px;
	height: 600px;
	padding: 0px;
}

.purchaseprocesscontainer2{
	margin-top: 0px;
	height: 390px;
	padding: 0px;
}

.purchaseprocesscontact{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess{
	margin: 0px;
	margin-top: 60px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-bottom: solid 1px #837f31;
}

.addcart{
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.addcartsm{
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.submitsm{
	float: left;
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	margin-top: 18px;
	margin-left: 40px;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.sizecontainer{
	float: left;
	width: 190px;
	height: 110px;
	margin: -10px 0px 0px -10px;
	clear: both;
}

.sizequantity{
	float: left;
	width: 190px;
	height: 60px;
	margin: 20px 0px 0px -10px;
	clear: both;
}

.shirtsizebox{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 40px;
	margin-top:10px;
	border: 1px solid #837f31;
}
.shirtsize{
	float: left;
	font-size: 1.5em;
	width: 49px;
	height: 20px;
	padding: 0px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0px 0px -15px;
  	color: #837f31;
}

.loginbtn{
	position: absolute;
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	/*text-transform: uppercase;*/
	border: solid 1px #837f31;
	color: #837f31;
	z-index: 99;
	margin: 45% 0px 0px 46.2%;
}

/*form{
	position: absolute;
	z-index: 99;
	margin: 450px 0px 0px 800px;
	width: 400px;
	height: 400px;
}*/

.firstlogin{
	position: absolute;
	z-index: 99;
	margin: 26% 0px 0px 42.2%;
	width: 400px;
	height: 400px;
}
input{
	width: 100%;
	height: 80px;
	background-color: hsla(56, 98%, 52%, 0.10);
	border: solid 1px #837f31;
	font-size: 1.7em;
	padding: 30px;
	color: #ffffff;
	margin: 15px 0px 0px 0px;
}

input:focus { 
    background-color: hsla(255, 255%, 255%, 0.10);
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:1px solid white;
    box-shadow: none;
    color: #ffffff;
}

input:focus.purchasebox2 { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border-left: solid 1px #837f31;
    box-shadow: none;
    color: #333333;
}

input:focus.purchasebox { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

.purchasebox { 
	width: 50%;
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

textarea:focus{
	box-shadow: none;
	outline: none !important;
	
}

.purchasebox2 { 
    background-color: #ffffff;
    border-left: solid 1px #837f31;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    outline: none !important;
    box-shadow: none;
    color: #333333;
  
}

input:focus.purchasebox3 { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

.purchasebox3 { 
	width: 50%;
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

a:hover {
	text-decoration: none;
	/*font-size: 1.2em;*/
	font-weight: 400;
	color: #ffffff;
}

/*a:hover .purchasehover{
	color: #ffffff;
	border: solid 1px #ffffff;
	
}*/

/*a:hover {
	color: #ffffff;
	border: solid 1px #ffffff;
}
*/
header {
	height: 45px;
	width: 100%;
	background-color: #111111;
}

footer {
	height: 70px;
	width: 100%;
	background-color: #111111;
}


/*********************************************************************************/
/* Desktop*/
/*********************************************************************************/



@media (max-width: 1440px){

.sidenav {
	margin: 0px 0px 0px 4%;
} 

.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}

.covertitle{
	position: absolute;
	margin: 13% 0px 0px 23%;
	z-index: 99;
	width: 700px;
}

.proteincovertitle{
	margin: 35% 0px 0px 22%;
}

.learnmorebox{
	position: absolute;
	margin: 54% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 850px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 310px;
	line-height: 1em;
}

.planinfotext {
	margin-bottom: 50px;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 150px;
	line-height: 1em;
}

.starttext{
	height: 820px;	
}

.championtitle{
	margin: 15.5% 0px 0px 47%;
}

.championtext{
	margin: 31% 0px 0px 47.8%;
}

.plans{
	width: 70%;
	height: 410px;
}

.plantext {
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	margin-bottom: 25px;
}

.lgbuilt {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	width: 100%;
	height: 500px;
	margin: 0px 0px 0px 1.8%;

}

.headquartercontainer{
	margin-top: 30px;
	height: 600px;
	width: 900px;
}

.headquarters{
	height: 600px;
}

.textmessage{
	width: 900px;
}

textarea{
	width: 900px;
	height: 350px;
}

.contactcontainer{
	width: 900px;
}

.phone3 {
	width: 35%;
	margin: 0px 0px 0px 0%;
}

.phone {
	width:29%;
	margin: 44px 0px 0px 4%;
}

.lgtitle {
	margin: -70px 0px 0px -16px;
	padding: 0px;
}

.logintitle{
	margin: 13% 0px 0px 41.5%;
	width: 600px;
}

.firstlogin{
	margin: 27% 0px 0px 40%;
	width: 400px;
	height: 400px;
}

.createaccountbox{
	margin: 41% 0px 0px 47.5%;
}


.loginbtn{
	margin: 50% 0px 0px 44.5%;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 835px;
}

.purchasecart{
	width: 900px;
}

.totalrow{
	width: 900px;
}

.purchaseprocesscontainer{
	width: 900px;
}

.purchaseprocesscontainer2{
	width: 900px;
}

.purchasebox { 
	width: 50%;
}

.purchasebox2 { 
	width: 40%;
}

.trainingtitle{
	margin: 30% 0px 0px 51%;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 835px;
}

.sellplan{
	width: 70%;
}

.sellprotein{
	width: 80%;
}

.sellshirts{
	height: 2150px;
	width: 70%;
}

.planlinks{
	margin: 50% 0px 0px 37.7%;
	width: 23%;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 835px;
}

.shirtc{
	height: 660px;
}

.moreshirts {
	width: 70%;
}

.shirtcontainer{
	padding-top: 25px;
	height: 650px;
	width: 70%;
}

.shirtbox{
	height: 600px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.createtitle {
	margin: -10% 0px 0px -11%;
}

.smaccount {
	margin: -10px 0px 0px 6.2%;
}




}


/*********************************************************************************/
/* IPHONE6*/
/*********************************************************************************/



@media (max-width: 540px) and (orientation: portrait) {

.logo{
	display:none;

}

.sidenav {
	margin: 0px 0px 0px 4%;
} 

/*.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}*/

.covertitle{
	position: absolute;
	margin: 13% 0px 0px 23%;
	z-index: 99;
	width: 700px;
}

.learnmorebox{
	position: absolute;
	margin: 54% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 850px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 370px;
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 200px;
	line-height: 1em;
}

.starttext{
	height: 900px;	
}


.championtitle{
	margin: 15.5% 0px 0px 47%;
}

.championtext{
	margin: 31% 0px 0px 47.8%;
}

.plans{
	width: 78%;
	/*margin: 0px 0px 0px 20%;*/

}

.lgbuilt {
	font-weight: 500;
	font-size: 6em;
	width: 100%;
	height: 247px;
	margin: 0px 0px 0px 0%;
	padding: 16% 0px 0px 0px;
}

.blacktrianglesfooter{
	background-color: #111111;
	width: 100%;
	height: 250px;
}

.container{
	width: 520px;
	/*margin: 0px;*/
}

.headericon{
	margin: 0px 0px 0px 41%;
	width: 18%;
}

h2 {
	font-weight: 500;
	font-size: 4em;
	width: 100%;
	height: 47px;
}

h3 {
	font-size: 1.5em;
	height: 20px;
	margin-top: 0px;
}

.intense{
	height: 50px;
}

.col-lg-3{
	width: 60%;
	margin: 0px 0px 0px 20%;
	margin-bottom: 10%
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 600px;
	z-index: 1;
}

.championtitle{
	margin: 62% 0px 0px 2%;
	width: 520px;
}

.championtext{
	margin: 90% 5% 0px 8%;
	width: 470px;
}

.goldfour {
	font-size: 2.5em;
	height: 100px;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 4em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 185px;
	height: 60px;
	margin: 0px 0px 0px 40%;
	padding: 0px;
}


.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 8em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 450px;
	height: 150px;
	margin: -39px 0px 0px 5.3%;
	padding: 0px;
}




}

/*********************************************************************************/
/* IPHONE5*/
/*********************************************************************************/



@media (max-width: 320px) and (orientation: portrait) {

.covertitle{
	display:none;
}

}



