/**{
		outline:1px solid red;
	}*/

html body{
	width: 100%;
	margin:0;
	padding:0;
	height:100%;
}

body {
	margin: 0 auto;
	height: 100%;
}

@font-face {
    font-family: breuer;
    font-weight: 100;
    src: url(fonts/BreuerText-Light.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 200;
    src: url(fonts/BreuerText-LightItalic.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 300;
    src: url(fonts/BreuerText-Regular.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 400;
    src: url(fonts/BreuerText-RegularItalic.otf);

}

@font-face {
    font-family: breuer;
    font-weight: 500;
    src: url(fonts/BreuerText-Bold.otf);
}

@font-face {
    font-family: breuer;
    font-weight: 600;
    src: url(fonts/BreuerText-BoldItalic.otf);
}


.addcartprotein a:hover, {
	border: solid 1px #ffffff;
	color: #ffffff;
}

a:active, {
	border: solid 1px #ffffff;
	color: #ffffff;
}

a:visited, {
	border: solid 1px #ffffff;
	color: #ffffff;
}

li:hover{
	color: #555555;
	text-decoration: none;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
	margin-bottom: 60px;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
	margin-bottom: 60px;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
	margin-bottom: 60px;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 1010px;
	z-index: 1;
	margin-bottom: 60px;
	
}

.sidenav {
	position: fixed;
	background: hsla(56, 98%, 52%, 0.65);
	margin: 0px 0px 0px 7%;
	width: 160px;
	height: 100%;
	z-index: 99;
}

.logo{
	position: fixed;
	top: 80px;
	left: 9.1%;
	width: 80px;
}

.nav{
	position: fixed;
	top: 190px;
}

.nav2{
	position: fixed;
	top: 320px;
}



ul {
	list-style-type: none;
	padding-left: 0px;
	width: 160px;

}

li {
	color: #272727;
	margin-left: 0px;
	text-align: center;
	font-family: breuer;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: .5px;
}

.arrow{
	margin: 0px 0px 0px 38%;
}


.covertitle{
	position: absolute;
	margin: 12% 0px 0px 23%;
	z-index: 99;
	width: 630px;
}

.logintitle{
	position: absolute;
	margin: 14% 0px 0px 43%;
	z-index: 99;
	width: 370px;
}

.trainingtitle{
	position: absolute;
	margin: 27.5% 0px 0px 51%;
	z-index: 99;
	width: 600px;
}

.learnmorebox{
	position: absolute;
	margin: 49% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.createaccountbox{
	position: absolute;
	margin: 37% 0px 0px 48.5%;
	width: 175px;
	height: 17px;
	z-index: 101;
}

.planlinks{
	position: absolute;
	margin: 46.5% 0px 0px 40.2%;
	width: 20%;
	height: 8%;
	z-index: 101;
}

.planbox{
	float: left;
	margin: 0% 0px 0px 10.5%;
	width: 75px;
	height: 80px;
	z-index: 101;
}


h1 {
	font-family: breuer;
	font-weight: 500;
	font-size: 8em;
	letter-spacing: -5px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.lgtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 630px;
	height: 150px;
	margin: -85px 0px 0px 0px;
	padding: 0px;
}

.smtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 6em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 340px;
	height: 100px;
	margin: 0px 0px 0px 95px;
	padding: 0px;
}

.smlogin {
	margin: 5px 0px 0px 41.5%;
	padding: 0px;
}

.createtitle {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -10% 0px 0px -8.5%;
	padding: 0px;
}

.smaccount {
	margin: -10px 0px 0px 6.2%;
	padding: 0px;
}

.lgtraining {
	width: 578px;
	height: 150px;
	margin: -70px 0px 0px 0px;
	padding: 0px;
}

.smplans {
	width: 250px;
	height: 100px;
	margin: 3px 0px 0px 95px;
}

.lgprotein {
	width: 540px;
	height: 100px;
	margin: 18% 0px 0px 60px;
	padding: 0px;
}

.smapparel {
	width: 400px;
	height: 100px;
	margin: 8.8% 0px 0px 190px;
}

.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -83px 0px 0px 0px;
	padding: 0px;
}

.lgbuilt {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	letter-spacing: -8px;
	/*color: hsla(56, 98%, 52%, 0.65);*/
	color: hsla(0, 0%, 0%, 0.97);
	width: 100%;
	height: 500px;
	margin: 0px 0px 0px 0px;
	padding: 150px;
	line-height: .65em;
	text-align: center;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 6em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 320px;
	height: 100px;
	margin: 0px 0px 0px 295px;
	padding: 0px;
}


.learnmore {
	font-family: breuer;
	font-weight: 100;
	font-size: 1em;
	letter-spacing: 0px;
	color: #837f31;
	/*color: hsla(56, 98%, 52%, 0.65);*/
	width: 75px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}

.createaccount {
	width: 175px;
	height: 20px;
	margin: 0px 0px 0px 0px;

}

h2 {
	font-family: breuer;
	font-weight: 500;
	font-size: 7em;
	letter-spacing: -3px;
	color: #272727;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding: 0px;
	line-height: .75em;

}

h3 {
	font-family: breuer;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #272727;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding: 0px;
	text-transform: uppercase;
	line-height: 1.2em;
}


.viewplan {
	font-family: breuer;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #837f31;
}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 4.5em;
	letter-spacing: 0px;
	color: hsla(0, 0%, 0%, 0.67);
/*	color: #5a5637;*/
	width: 100%;
	height: 410px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	padding: 0px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 4.5em;
	letter-spacing: 0px;
	color: hsla(0, 0%, 0%, 0.67);
/*	color: #5a5637;*/
	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	padding: 0px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

.goldfour {
	float: left;
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: 0px;
	color: hsla(56, 98%, 52%, 0.65);
/*	color: #5a5637;*/
	width: 100%;
	height: 200px;
	margin: 0;
	text-align: left;
	padding-top: 25px;
	/*text-transform: uppercase;*/
	line-height: 1em;
}

h5 {
	font-family: breuer;
	font-weight: 100;
	font-size: 1.5em;
	letter-spacing: 0px;
	color: #272727;
	width: 100%;
	height: 125px;
	margin: 0 auto;
	margin-top: 7px;
	text-align: center;
	line-height: 1.1em;
}

.headericonbox{
	width: 100%;
}

.headericon{
	margin: 0px 0px 0px 530px;
	width: 7%;
}

.head {
	margin-top:100px;
}

.buybox {
	position: relative;
	margin-top:200px;
	height: 590px;
}

.purchasetitle{
	position: relative;
	margin-top:0px;
}

.phoneinfo{
	height: 500px;
}

.phoneinfo2{
	height: 500px;
}


.smbtn {
	float: left;
	margin:100px 0px 0px -180px;
	height: 55px;
}

.smbtnsubmit {
	float: right;
	margin: 16px 0px 0px 0px;
	height: 75px;
	width: 270px;
	border-left: solid 1px #837f31;
}

.contacttext{
	height: 250px;	
}

.textmessage{
	margin-top: 20px;
	height: 460px;
	border-top: solid 1px #837f31;
}

textarea{
	font-family: breuer;
	font-size: 3em;
	line-height: 1.2em;
	margin-top: 20px;
	width: 1140px;
	height: 350px;
	border: none;
}


.starttext{
	height: 1050px;	
}

.thankyoutext{
	height: 600px;	
}

.championtitle{
	margin: 190px 0px 0px 845px;
}

.championtext{
	margin: 410px 0px 0px 852px;
}

.room{
	margin-bottom: 0px;
}

.planicon{
	margin: 0px 0px 0px 38%;
	width: 65px;
}

.plantitleicon{
	margin: 0px 0px 0px 7%;
	width: 65px;
}

.proteinpic{
	margin: 0px 0px 0px 0%;
	width: 100%;
}

.proteinpic2{
	float: left;
	margin: 0px 0px 0px 5%;
	width: 20%;
}

.shirtpage{
	float: left;
	margin: 0px 0px 0px 0%;
	padding: 0px;
	width: 45%;
}

.headquarters{
	float: left;
	margin: -23px 0px 0px 0%;
	padding: 0px;
	width: 100%;
	height: 730px;
}


.plantitle {
	margin: 0;
	height: 30px;
	font-size: 2.4em;
	font-weight: 400;
	color:#837f31;
}

.plantitlecart {
	float: left;
	height: 30px;
	width: 87%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.totaltitle {
	float: right;
	margin: 27px 0px 0px 0px;
	height: 30px;
	width: 10%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.totalnumber {
	float: right;
	margin: 27px 0px 0px 0px;
	height: 30px;
	width: 7%;
	font-size: 2.4em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.phone {
	float: left;
	margin: 44px 0px 0px 30px;
	height: 30px;
	width:23%;
	font-size: 1.7em;
	font-weight: 400;
	text-align: left;
	color:#837f31;
}

.phone3 {
	width:45%;
margin: 44px 0px 0px 3%;
}

.plantext {
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
}

.plantextcart {
	float: left;
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	width: 90%;
	text-align: left;
}

.quantitytitle {
	float: left;
	font-size: 1.6em;
	margin: -29px 0px 0px 70px;
	height: 21px;
	width: 100px;
	text-align: left;
	color: #837f31;
}

.featureblacktext {
/*	color: hsla(360, 100%, 100%, 0.20);*/
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	color:#837f31;

	}

.viewplan{
	font-size: 1.4em;
	margin: 0px 0px 0px 0px;
	height: 30px;

	}

.plans{
	padding-top: 125px;
	height: 400px;
}

.sellprotein{
	padding-top: 25px;
	height: 600px;
}

.purchasecart{
	padding-top: 25px;
	height: 1000px;
	border-top: 1px solid #837f31;
	/*border-bottom: 1px solid #837f31;*/
}

.shirtcontainer{
	padding-top: 25px;
	height: 750px;
}

.contactontainer{
	border-top: 1px solid #837f31;
	padding-top: 25px;
	height: 750px;
}

.totalrow{
	margin-top: -15px;
	margin-bottom: 30px;
	height: 85px;
	border-top: 1px solid #837f31;
	border-bottom: 1px solid #837f31;
}

.sellplan{
	/*position: relative;
	margin: 10% 0 0 0;*/
	/*padding-top: 140px;*/
	height: 600px;
}

.sellshirts{
	padding-top: 25px;
	height: 2450px;
}

.blacktriangles{
	background-color: #111111;
	width: 100%;
	height: 500px;
}

.blacktrianglesfooter{
	background-color: #151515;
	width: 100%;
	height: 500px;
}

.proteinc{
	height: 570px;
}

.smshirtc{
	height: 320px;

}

.purchaserow{
	height: 300px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.shirtbox{
	height: 700px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.purchasebtncart{
	margin-top: 130px;
	height: 170px;
}

.purchaseinfo{
	float: left;
	height: 257px;
	width: 55%;
	margin: 15px 0px 0px 80px;
}

.shirtinfo{
	float: left;
	height: 457px;
	width: 52%;
	margin:40px 0px 0px 20px;
}

.priceinfo{
	float: left;
	height: 50px;
	width: 10%;
	margin:0px 0px 0px 2px;
}


.planmain{
	position: relative;
	margin: -8% 0 0 6%;
	height: 180px;
}

.planc{
	position: relative;
	margin: 13% 0 0 6%;
	height: 180px;

}

.shirtc{
	height: 760px;
}

.moreshirts {
	margin-top: 0px; 
	height: 345px;
}

.purchasetext{
	height: 220px;
}

.contactcontainer{
	margin-top: 0px;
	height: 460px;
	padding: 0px;
}

.headquartercontainer{
	margin-top: 30px;
	height: 720px;
	padding: 0px;
}

.purchaseprocesscontainer{
	margin-top: 100px;
	height: 600px;
	padding: 0px;
}

.purchaseprocesscontainer2{
	margin-top: 0px;
	height: 390px;
	padding: 0px;
}

.purchaseprocesscontact{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess{
	margin: 0px;
	margin-top: 60px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-bottom: solid 1px #837f31;
}

.addcart{
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	/*text-transform: uppercase;*/
	border: solid 1px #837f31;
	color: #837f31;
	/*text-decoration: none;*/
}


.smbtnprotein a {
	float: left;
	margin:0px 0px 0px 15%;
	height: 55px;
	text-decoration: none;
}

.addcartsm{
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #837f31;
	color: #837f31;
}



.addcartprotein {
	position: relative;
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	padding: 10px;
	margin: 0% 0% 0% 0%;
	/*text-transform: uppercase;*/
	border: solid 1px #837f31;
	color: #837f31;
	text-indent: none;
}



.submitsm{
	float: left;
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	margin-top: 18px;
	margin-left: 40px;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.sizecontainer{
	float: left;
	width: 190px;
	height: 110px;
	margin: -10px 0px 0px -10px;
	clear: both;
}

.sizequantity{
	float: left;
	width: 190px;
	height: 60px;
	margin: 20px 0px 0px -10px;
	clear: both;
}

.sizequantitycart{
	float: left;
	width: 190px;
	height: 60px;
	margin: 12px 0px 0px -10px;
}

.shirtsizebox{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 40px;
	margin-top:10px;
	border: 1px solid #837f31;
}

.shirtsize{
	float: left;
	font-size: 1.5em;
	width: 49px;
	height: 20px;
	padding: 0px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0px 0px -15px;
  	color: #837f31;
}

.loginbtn{
	position: absolute;
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	/*text-transform: uppercase;*/
	border: solid 1px #837f31;
	color: #837f31;
	z-index: 99;
	margin: 45% 0px 0px 45.5%;
}

/*form{
	position: absolute;
	z-index: 99;
	margin: 450px 0px 0px 800px;
	width: 400px;
	height: 400px;
}*/

.firstlogin{
	position: absolute;
	z-index: 99;
	margin: 26% 0px 0px 42.2%;
	width: 400px;
	height: 400px;
}

input.cart-input {
  width: 45px;
  height: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: white;
  color: #837f31;
}

input.cart-input:focus {
  width: 45px;
  height: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: white;
  color: #837f31;
}

input{
	width: 100%;
	height: 80px;
	background-color: hsla(56, 98%, 52%, 0.10);
	border: solid 1px #837f31;
	font-size: 1.7em;
	padding: 30px;
	color: #ffffff;
	margin: 15px 0px 0px 0px;
}

input:focus { 
    background-color: hsla(255, 255%, 255%, 0.10);
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:1px solid white;
    box-shadow: none;
    color: #ffffff;
}

input:focus.purchasebox2 { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border-left: solid 1px #837f31;
    box-shadow: none;
    color: #333333;
}

input:focus.purchasebox { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

.purchasebox { 
	width: 50%;
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

textarea:focus{
	box-shadow: none;
	outline: none !important;
	
}

.purchasebox2 { 
    background-color: #ffffff;
    float: right;
    width:50%;
    border-left: solid 1px #837f31;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    outline: none !important;
    box-shadow: none;
    color: #333333;
    z-index: 99;
  
}

input:focus.purchasebox3 { 
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

.purchasebox3 { 
	width: 50%;
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

header {
	height: 45px;
	width: 100%;
	background-color: #111111;
	margin-bottom: 60px;
}

footer {
	height: 70px;
	width: 100%;
	background-color: #111111;
}

#wrapper {
	display: none;
}

input.cart-input {
  width: 45px;
  height: 35px;
  padding: 0;
  margin: 5% 0 0 5%;
  text-align: center;
  background: white;
  color: #837f31;
}

/*.quantitytitle {
	float: left;
	font-size: 1.6em;
	margin: -30px 0px 0px 70px;
	height: 21px;
	width: 100px;
	text-align: left;
	color: #837f31;
}*/




/*********************************************************************************/
/* Desktop 1441*/
/*********************************************************************************/



@media (max-width: 1441px){

.sidenav {
	margin: 0px 0px 0px 4%;
} 

.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}

.covertitle{
	position: absolute;
	margin: 13% 0px 0px 23%;
	z-index: 99;
	width: 700px;
}

.blacktrianglesfooter{
	background-color: #151515;
}

.proteincovertitle{
	margin: 35% 0px 0px 22%;
}

.learnmorebox{
	position: absolute;
	margin: 54% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 850px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 310px;
	line-height: 1em;
}

.planinfotext {
	margin-bottom: 50px;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 150px;
	line-height: 1em;
}

.starttext{
	height: 820px;	
}

.championtitle{
	margin: 15.5% 0px 0px 47%;
}

.championtext{
	margin: 31% 0px 0px 47.8%;
}

.plans{
	width: 70%;
	height: 410px;
}

.plantext {
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	margin-bottom: 25px;
}

.lgbuilt {
	font-family: breuer;
	font-weight: 500;
	font-size: 12em;
	width: 97%;
	height: 500px;
	margin: 0px 0px 0px 1.8%;
	/*color: hsla(56, 98%, 52%, 0.30);*/
	/*color: hsla(360, 100%, 100%, .10);*/
	color: #000000;
}

.headquartercontainer{
	margin-top: 30px;
	height: 600px;
	width: 900px;
}

.headquarters{
	height: 600px;
}

.textmessage{
	width: 900px;

}

textarea{
	width: 900px;
	height: 350px;
}

.contactcontainer{
	width: 900px;
}

.phone3 {
	width: 35%;
	margin: 0px 0px 0px 0%;
}

.phone {
	width:29%;
	margin: 44px 0px 0px 4%;
}

.lgtitle {
	margin: -70px 0px 0px -16px;
	padding: 0px;
}

.logintitle{
	margin: 13% 0px 0px 41.5%;
	width: 600px;
}

.firstlogin{
	margin: 27% 0px 0px 40%;
	width: 400px;
	height: 400px;
}

.createaccountbox{
	margin: 41% 0px 0px 47.5%;
}


.loginbtn{
	margin: 50% 0px 0px 44.5%;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 835px;
}

.purchasecart{
	width: 900px;
}

.totalrow{
	width: 900px;
}

.purchaseprocesscontainer{
	width: 900px;
}

.purchaseprocesscontainer2{
	width: 900px;
}

.purchasebox { 
	width: 50%;
}

.purchasebox2 { 
	width: 40%;
}

.trainingtitle{
	margin: 30% 0px 0px 51%;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 835px;
}

.sellplan{
	width: 70%;
}

.sellprotein{
	width: 80%;
}

.sellshirts{
	height: 2150px;
	width: 70%;
}

.planlinks{
	margin: 50% 0px 0px 37.7%;
	width: 23%;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 835px;
}

.shirtc{
	height: 660px;
}

.moreshirts {
	width: 70%;
}

.shirtcontainer{
	padding-top: 25px;
	height: 650px;
	width: 70%;
}

.shirtbox{
	height: 600px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.createtitle {
	margin: -10% 0px 0px -11%;
}

.smaccount {
	margin: -10px 0px 0px 6.2%;
}

.menuhamburger{
	display: hidden;
}

input.cart-input {
  width: 45px;
  height: 35px;
  padding: 0;
  margin: 5% 0 0 5%;
  text-align: center;
  background: white;
  color: #837f31;
}

.quantitytitle {
	float: left;
	font-size: 1.6em;
	margin: -30px 0px 0px 70px;
	height: 21px;
	width: 100px;
	text-align: left;
	color: #837f31;
}


/*********************************************************************************/
/* Desktop 1280*/
/*********************************************************************************/

@media (max-width: 1281px){

.sidenav {
	margin: 0% 0px 0px 4%;
} 

.headericon {
	margin: 0px 0px 0px 47%;
	width: 7%;
}

.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}

.covertitle{
	position: absolute;
	margin: 13% 0px 0px 23%;
	z-index: 99;
	width: 700px;
}

.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 10em;
	letter-spacing: -8px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 700px;
	height: 150px;
	margin: -87px 0px 0px 0px;
	padding: 0px;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 5em;
	letter-spacing: -3px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 320px;
	height: 100px;
	margin: 0px 0px 0px 295px;
	padding: 0px;
}

.goldfour {
	margin: 0px 0px 0px 0%;
	width: 550px;
}

.blacktrianglesfooter{
	background-color: #151515;
	padding: 0;
}

/*.lgbuilt{
	margin: 0 -20px 0 0;


}*/

.learnmorebox{
	position: absolute;
	margin: 61% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 850px;
}

.col-sm-3{
	margin-top: -90px;
}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 310px;
	line-height: 1em;
	margin-bottom: 40px;
}

.planinfotext {
	height: 460px;
	margin-bottom: 0px;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3.7em;
	width: 75%;
	height: 150px;
	line-height: 1em;
	margin-bottom: 50px;
}

.starttext{
	height: 1020px;	
}

.championtitle{
	margin: 17% 0px 0px 47%;
}

.championtext{
	margin: 31% 0px 0px 47.8%;
}

.plans{
	width: 70%;
	height: 410px;
}

.plantext {
	font-size: 1.6em;
	margin: 20px 0px 0px 0px;
	height: 100px;
	margin-bottom: 25px;
}

.headquartercontainer{
	margin-top: 30px;
	height: 500px;
	width: 900px;
}

.headquarters{
	height: 500px;
	width: 85%;
	margin: 0 0 0 8%;
}

.textmessage{
	width: 63%;
	margin: 0 0 0 19.5%;

}

textarea{
	width: 100%;
	height: 350px;
}

.contactcontainer{
	width: 63%;
	margin: 0 0 0 19.5%;
}

.phone3 {
	width: 35%;
	margin: 0px 0px 0px 0%;
}

.phone {
	width:29%;
	margin: 44px 0px 0px 4%;
}

.smlogin{
		margin: -120px 0px 0px 230px;
}

.lgtitle {
	margin: -87px 0px 0px -16px;
	padding: 0px;
	width: 390px;
}

.smtitle {
	margin: 6px 0px 0px 130px;
	padding: 0px;
	width: 150px;
}

.logintitle{
	margin: 13% 0px 0px 41.5%;
	width: 400px;
}

.firstlogin{
	margin: 27% 0px 0px 40%;
	width: 400px;
	height: 400px;
}

.createaccountbox{
	margin: 44% 0px 0px 47.5%;
}

.loginbtn{
	margin: 50% 0px 0px 44.5%;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 835px;
}

.purchasecart{
	width: 63%;
}

.totalrow{
	width: 900px;
}

.purchaseprocesscontainer{
	width: 900px;
}

.purchaseprocesscontainer2{
	width: 900px;
}


.purchasebox { 
	width: 50%;
}

.purchasebox2 { 
	width: 40%;
}

.trainingtitle{
	margin: 30% 0px 0px 51%;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 835px;
}

.sellplan{
	width: 70%;
	height: 500px;
}

.sellprotein{
	width: 73%;
}

.sellshirts{
	height: 1550px;
	width: 70%;
}

.planlinks{
	margin: 56% 0px 0px 36%;
	width: 27%;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 835px;
}

.shirtc{
float: left;
height: 370px;
width: 40%;
margin: 0 0 100px 7%;
}	

.moreshirts {
	width: 70%;
}

.shirtcontainer{
	padding-top: 25px;
	height: 650px;
	width: 70%;
}

.shirtbox{
	height: 600px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.createtitle {
	margin: -10% 0px 0px -11%;
}

.smaccount {
	margin: -10px 0px 0px 6.2%;
}

.menuhamburger{
	display: hidden;
}

.planc {
	margin-top: 150px;
}

.buybox {
margin-top: 0px;
}

.col-lg-3 {
float: left;
width: 33%;
margin: 0px 0px 0px 0%;
margin-bottom: 10%
}

.lgprotein {
	width: 600px;
	height: 200px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smapparel {
	width: 385px;
	height: 95px;
	margin: -45px 0px 0px 114px;
}

.proteincovertitle{
	margin: 23% 0px 0px 22%;
}

.purchaserow{
	height: 270px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.proteinpic2{
	width: 27%;
}

.purchaseinfo{
	margin: 0 0 0 2%;
	width: 65%;
}

input.cart-input {
  width: 45px;
  height: 35px;
  padding: 0;
  margin: 5% 0 0 5%;
  text-align: center;
  background: white;
  color: #837f31;
}

.quantitytitle {
	float: left;
	font-size: 1.6em;
	margin: -30px 0px 0px 70px;
	height: 21px;
	width: 100px;
	text-align: left;
	color: #837f31;
}



/*********************************************************************************/
/* IPAD 768*/
/*********************************************************************************/



@media and (max-device-width: 768px) and (orientation: portrait) {


#wrapper {
	display: block;
}

header {
	height: 58px;
	width: 100%;
	background-color: #111111;
	margin-bottom: 0px;
}


li {
	color: #272727;
	margin-left: 0px;
	text-align: center;
	font-family: breuer;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: .5px;
}


.sidenav {
	display:none;
}


/*.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}*/

.covertitle{
	position: absolute;
	margin: 34% 0px 0px 0%;
	z-index: 50;
	width: 400px;
}

.lgtitle {
	font-size: 8em;
	letter-spacing: -4px;
	margin: -78px 0px 0px 0px;
	width: 320px;
	z-index: 50;
}

.smtitle {
	font-size: 4.5em;
	letter-spacing: -2px;
	width: 300px;
	margin: 0px 0px 0px 95px;
	z-index: 50;
}

/*.learnmorebox{
	position: absolute;
	margin: 80% 0px 0px 48%;
	width: 75px;
	height: 47px;
	z-index: 20;
}*/

.homecover {
	/*display: none;*/
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 667px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 370px;
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 200px;
	line-height: 1em;
}

.starttext{
	margin-top: 30px;
	height: 900px;	
}


.championtitle{
	margin: 15.5% 0px 0px 47%;
	width: 200px;
}

.championtext{
	margin: 31% 0px 0px 47.8%;

}

.plans{
	width: 85%;
	/*margin: 0px 0px 0px 20%;*/

}

.lgbuilt {
	font-weight: 500;
	font-size: 6em;
	width: 100%;
	height: 247px;
	margin: 0px 0px 0px 0%;
	padding: 11% 0px 0px 0px;
}

.blacktrianglesfooter{
	background-color: #151515;
	width: 100%;
	height: 250px;
}

.container{
	width: 85%
}

.headericon{
	margin: 0px 0px 0px 41%;
	width: 18%;
}

h2 {
	font-weight: 500;
	font-size: 4em;
	width: 100%;
	height: 47px;
}

h3 {
	font-size: 1.5em;
	height: 20px;
	margin-top: 0px;
}

.intense{
	height: 50px;
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 600px;
	z-index: 1;
}


.championtext{
	margin: 40% 5% 0px 40.5%;
	width: 53%;
}

.goldfour {
	font-size: 2em;
	height: 100px;
	width: 100%;

}

.championtitle{
	margin: 20% 0px 0px 37%;
	width: 420px;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 5.5em;
	letter-spacing: -2px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 205px;
	height: 60px;
	margin: 0px 0px 0px 32%;
	padding: 0px;
}


.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 7em;
	letter-spacing: -4px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 300px;
	height: 150px;
	margin: -18px 0px 0px 5.3%;
	padding: 0px;
}

.plans{
	padding-top: 30px;
	height: 1100px;
}

.col-lg-3{
	width: 40%;
	margin: 0px 0px 0px 30%;
	margin-bottom: 17%;
	height: 230px;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 769px;
}

.logintitle{
	margin: 22% 0px 0px 42%;
	width: 200px;
}

.firstlogin{
	margin: 35% 0px 0px 29%;
	width: 400px;
	height: 400px;
}

.createaccountbox{
	margin: 65% 0px 0px 44%;
}

.loginbtn{
	margin: 76% 0px 0px 37%;
}
.lglogin {

	font-size: 6em;
	letter-spacing: -4px;
	margin: -78px 0px 0px 0px;
	width: 200px;
	height: 100px;
}

.smlogin {
	margin: -30px 0px 0px 35%;
	width: 170px;
	height: 50px;
}

.createtitle {
	margin: -37% 0px 0px -11%;
	width: 200px;
}

.smaccount {
	margin: -80px 0px 0px 6.2%;
	width: 200px;
	height: 70px;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 667px;
}

.trainingtitle{
	margin: 19% 0px 0px 40%;
	width: 55%;
}

.lgtraining {
	width: 100%;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smplans {
	width: 60%;
	height: 50px;
	margin: -1px 0px 0px 95px;
}

.planlinks{
	margin: 72% 0px 0px 25%;
	width: 54%;
}

.starttext{
	height: 980px;	
}

.blacktriangles{
	background-color: #111111;
	width: 100%;
	height: 1090px;
}

.sellplan{
	padding-top: 90px;
	height: 1070px;
}

.planinfotext{
	height: 400px;
}

.starttext{
	height: 880px;
}


.addcart{
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	margin: -6% 0% 0% 28%;
	border: solid 1px #837f31;
	color: #837f31;
}

.purchasetext{
	margin-top: 30px;
	height: 270px;
}

.headquarters{
	height: 370px;
}

.headquartercontainer{
	margin-top: 30px;
	height: 370px;
	width: 90%;
}

.textmessage{
	width: 85%;
	margin: 0% 0% 0% 10%;
	border-top: none;
}

textarea{
	width: 95%;
	height: 430px;
}

.contactcontainer{
	width: 80%;
	margin: 0% 0% 0% 10%;
}
}

.phone {
	width:90%;
	margin: 22px 0px 0px 4%;
}

.phone3 {
	width: 55%;
	margin: 22px 0px 0px 4%;
}

.smbtnsubmit {
	float: left;
	margin: -80px 0px 0px 60%;
	height: 75px;
	width: 40%;
	border-left: solid 1px #837f31;
	/*border-bottom: none;*/
	clear: both;
}

.submitsm{
	float: left;
	font-size: 1.6em;
	height: 40px;
	margin-top: 18px;
	margin-left: 10%;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 667px;
}

.sellprotein{
	height: 1270px;
}

.sellshirts{
	padding-top: 25px;
	height: 1250px;
}

.proteincovertitle{
	margin: 30% 0px 0px 9%;
	width: 50%;
}

.lgprotein {
	width: 290px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smapparel {
	width: 325px;
	height: 100px;
	margin: 0px 0px 0px 95px;
}

.shirtc{
	width: 40%;
	margin-bottom: 0px;
}

.proteinc{
	float: left;
	width: 45%;
	height: 610px;
	margin: 0px 0px 0px 3%;
}

.smbtnprotein{
	margin: 0px 0px 0px 18%;
}

.shirtcontainer{
	padding-top: 25px;
	height: 650px;
	width: 90%;
}


.shirtbox{
	height: 1080px;
	width: 75%;
	margin:0px 0px 0px 12%;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.quantitytitle{
	margin:-105% 0px 0px 257%;
}

.shirtinfo{
	float: left;
	height: 457px;
	width: 100%;
	margin:40px 0px 0px 0px;
}

.moreshirts {
	width: 80%;
	margin-top: 460px;
	height: 1390px;
}


.smshirtc{
	width: 55%;
	height: 400px;
	margin:10% 0px 0px 23%;
}

.shirtpage{
	float: left;
	margin: 0px 0px 0px 0%;
	padding: 0px;
	width: 100%;
}

.shirtsizebox{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 40px;
	margin-top:10px;
	border: 1px solid #837f31;
}

.purchaserow{
	height: 600px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.proteinpic2{
	float: left;
	margin: 0px 0px 0px 23%;
	width: 55%;
}

.purchaseinfo{
	float: left;
	height: 237px;
	width: 95%;
	margin:40px 0px 0px 0px;
}

.purchasecart{
	width: 85%;
	padding-top: 25px;
	height: 700px;
	border-top: 1px solid #837f31;
	/*border-bottom: 1px solid #837f31;*/
}

.totaltitle {
	margin:27px 0px 0px 0px;
	width: 20%;
}

.totalnumber {
	margin: 27px 0px 0px 0px;
	width: 15%;
}

.purchaseprocesscontainer{
	margin-top: 100px;
	height: 600px;
	width: 85%;
	padding: 0px;
}

.purchaseprocesscontainer2 {
	width: 85%;
}

.totalrow {
	width: 85%;
}


.plantitlecart {
	margin-left: 0px;
}

.purchaseprocess{
	margin: 0px;
	margin-top: 60px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 100px;
	/*border-bottom: solid 1px #837f31;*/
}

.purchaseprocess3{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 351px;
	/*border-bottom: solid 1px #837f31;*/
}



body {
    overflow-x: hidden
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 118;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}






nav.slide-menu-left {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: center;
/*    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;*/
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-left {
    left: -300px
}
body.sml-open nav.slide-menu-left {
    left: 0
}
/*

.nav-toggler{
    margin: 40px 0 0 -118px;
    width: 45px;
}

.close-menu{
    display: inline-block;
    top: 0;
    left: 0;
    margin: 8px 0 0 -227px;
    width: 45px;
}*/




/*********************************************************************************/
/* IPHONE6 540*/
/*********************************************************************************/



@media (max-width: 540px) and (orientation: portrait) {


#wrapper {
	display: block;
}


li {
	color: #272727;
	margin-left: 0px;
	text-align: center;
	font-family: breuer;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: .5px;
}

.work{
	display: none;
}

.sidenav {
	display:none;
}


/*.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}*/

/*.covertitle{
	position: absolute;
	margin: 34.5% 0px 0px 5%;
	z-index: 50;
	width: 400px;
}
*/
.lgtitle {
	font-size: 6em;
	letter-spacing: -4px;
	margin: -78px 0px 0px 0px;
	width: 320px;
	z-index: 50;
}

.smtitle {
	font-size: 3.5em;
	letter-spacing: -2px;
	width: 300px;
	margin: 0px 0px 0px 95px;
	z-index: 50;
}

.learnmorebox{
	position: absolute;
	margin: 75% 0px 0px 44%;
	width: 75px;
	height: 47px;
	z-index: 20;
}

.homecover {
	/*display: none;*/
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 667px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 370px;
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 3em;
	width: 90%;
	height: 200px;
	line-height: 1em;
}

.starttext{
	height: 900px;	
}


.plans{
	width: 78%;
	/*margin: 0px 0px 0px 20%;*/

}

.lgbuilt {
	font-weight: 500;
	font-size: 6em;
	width: 100%;
	height: 247px;
	margin: 0px 0px 0px 0%;
	padding: 16% 0px 0px 0px;
}

.blacktrianglesfooter{
	background-color: #151515;
	width: 100%;
	height: 250px;
}

.container{
	width: 520px;
	/*margin: 0px;*/
}

.headericon{
	margin: 0px 0px 0px 41%;
	width: 18%;
}

/*.headericonbox{
	height: 200px;
}
*/
h2 {
	font-weight: 500;
	font-size: 4em;
	width: 100%;
	height: 47px;
}

h3 {
	font-size: 1.5em;
	height: 20px;
	margin-top: 0px;
}

.intense{
	height: 50px;
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 541px;
	z-index: 1;
}

.championtext{
	margin: 54% 5% 0px 35%;
	width: 305px;
	height: 170px;
}

.goldfour {
	font-size: 2.5em;
	height: 100px;
	width: 200px;
}

.championtitle{
	margin: 29% 0px 0px 32%;
	width: 320px;
	height: 130px;
}

.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 3.5em;
	letter-spacing: -2px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 185px;
	height: 60px;
	margin: 0px 0px 0px 30%;
	padding: 0px;
}


.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 5.5em;
	letter-spacing: -4px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 300px;
	height: 120px;
	margin: -35px 0px 0px 5.3%;
	padding: 0px;
}

.plans{
	padding-top: 30px;
	height: 1100px;
}

.col-lg-3{
	width: 60%;
	margin: 0px 0px 0px 20%;
	margin-bottom: 17%
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 667px;
}

.firstlogin{
	margin: 40% 0px 0px 13%;
	width: 400px;
	height: 400px;
}

.loginbtn{
	margin: 102% 0px 0px 24.5%;
}

.createaccountbox{
	margin: 79% 0px 0px 34.5%;
}

.logintitle{
	margin: 27% 0px 0px 34%;
	width: 200px;
}

.lglogin {

	font-size: 6em;
	letter-spacing: -4px;
	margin: -78px 0px 0px 0px;
	width: 200px;
	height: 100px;
}

.smlogin {
	margin: -26px 0px 0px 35%;
	width: 170px;
	height: 50px;
}

.createtitle {
	margin: -37% 0px 0px -11%;
	width: 200px;
}

.smaccount {
	margin: -80px 0px 0px 6.2%;
	width: 200px;
	height: 70px;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 667px;
}

.trainingtitle{
	margin: 39% 0px 0px 40%;
	width: 300px;
}

.lgtraining {
	width: 290px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smplans {
	width: 150px;
	height: 50px;
	margin: -27px 0px 0px 95px;
}

.planlinks{
	margin: 100% 0px 0px 14%;
	width: 74%;
}

.starttext{
	height: 980px;	
}

/*.blacktriangles{
	background-color: #111111;
	width: 100%;
	height: 900px;
}*/

.sellplan{
	padding-top: 90px;
	height: 900px;
}

.addcart{
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	margin: -7% 0% 0% 20%;
	border: solid 1px #837f31;
	color: #837f31;
}

.purchasetext{
	margin-top: 30px;
	height: 310px;
}

.headquarters{
	height: 370px;
}

.headquartercontainer{
	margin-top: 30px;
	height: 370px;
	width: 90%;
}

.textmessage{
	width: 90%;
	margin: 0% 0px 0px 5%;
}

textarea{
	width: 95%;
	height: 430px;
	margin: 4% 0px 0px 3.5%;
}

.contactcontainer{
	width: 90%;
	margin: 0% 0px 0px 5%;
}

.phone {
	width:90%;
	margin: 35px 0px 0px 4%;
}

.phone3 {
	width: 55%;
	margin: 22px 0px 0px 4%;
}

/*.purchaseprocess2{
	margin: 0px;
	margin-top: 100px;
	padding: 0px;
	width: 100%;
	height: 202px;
	border-bottom: solid 1px #837f31;
	border-top: solid 1px #837f31;
}*/

.smbtnsubmit {
	float: left;
	margin: 20px 0px 0px 0px;
	height: 75px;
	width: 100%;
	border-left: solid 1px #837f31;
	clear: both;
}

.submitsm{
	float: left;
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	margin-top: 27px;
	margin-left: 32%;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 667px;
}

.sellprotein{
	height: 2030px;
}

.sellshirts{
	padding-top: 25px;
	height: 3450px;
}

.proteincovertitle{
	margin: 50% 0px 0px 9%;
	width: 300px;
}

.lgprotein {
	width: 290px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smapparel {
	width: 225px;
	height: 100px;
	margin: -26px 0px 0px 95px;
}

.shirtcontainer{
	padding-top: 25px;
	height: 650px;
	width: 90%;
}


.shirtbox{
	height: 1080px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.shirtc{
	width: 80%;
	height: 550px;
}

.shirtinfo{
	float: left;
	height: 457px;
	width: 100%;
	margin:40px 0px 0px 0px;
}

.moreshirts {
	width: 90%;
	margin-top: 460px;
	height: 1200px;
}


.smshirtc{
	height: 250px;
	margin-top: 50px;
}

.shirtpage{
	float: left;
	margin: 0px 0px 0px 0%;
	padding: 0px;
	width: 100%;
}


.sizecontainer{
	margin: 0% 0 0 -2%;
}


.shirtsizebox{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 40px;
	margin: 12% 0 0 5%;
	border: 1px solid #837f31;
}

.quantitytitle{
	float: left;
	margin: -106% 0px 0px 270%;

}

.purchaserow{
	height: 600px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.proteinpic2{
	float: left;
	margin: 0px 0px 0px 23%;
	width: 55%;
}

.purchaseinfo{
	float: left;
	height: 237px;
	width: 95%;
	margin:40px 0px 0px 0px;
}

.purchasecart{
	padding-top: 25px;
	height: 2000px;
	border-top: 1px solid #837f31;
	/*border-bottom: 1px solid #837f31;*/
}

.totaltitle {
	margin:27px 0px 0px 0px;
	width: 20%;
}

.totalnumber {
	margin: 27px 0px 0px 0px;
	width: 15%;
}

.purchaseprocesscontainer{
	margin-top: 100px;
	height: 600px;
	padding: 0px;
	border-top: none;
}

.plantitlecart {
	margin-left: 0px;
}

.purchaseprocess{
	margin: 0px;
	margin-top: 60px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

/*.purchaseprocess2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-bottom: solid 1px #837f31;
}
*/

/*.purchaseprocess3{
	margin-top: 300px;
}
*/

.thankyoutext{
	margin-top: 20px;
	height: 400px;	
}



body {
    overflow-x: hidden
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 118;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}






nav.slide-menu-left {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: center;
/*    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;*/
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-left {
    left: -300px
}
body.sml-open nav.slide-menu-left {
    left: 0
}






}

/*********************************************************************************/
/* IPHONE5 320*/
/*********************************************************************************/



@media (max-width: 320px) and (orientation: portrait) {

.logo{
	display:block;
}

header{
	height: 60px;
}
.sidenav {
display: none;

} 

/*.logo{
	position: fixed;
	left: 6.8%;
	width: 80px;
}*/

.nav-toggler{
	display: block;
	position: absolute;
}

.buttons{
	display: block;
}

body{
	width: 320px;
}

.headericonbox{
	width: 305px;
	margin-left: -1%;
}

.covertitle{
	position: absolute;
	margin: 45% 0px 0px 7%;
	z-index: 99;
	width: 250px;
	height: 110px;
}

.lgtitle {
	width: 270px;
	height: 100px;
	font-size: 5em;
	letter-spacing: -4px;
	margin: -85px 0px 0px 0px;
}

.smtitle {
	font-size: 3em;
	letter-spacing: -2px;
	width: 220px;
	margin: 0px 0px 0px 40px;
}

.learnmorebox{
	position: absolute;
	margin: 156% 0px 0px 40%;
	width: 75px;
	height: 47px;
	z-index: 101;
}

.homecover {
	background: url(img/homecover.png) no-repeat center;
	background-size: cover;
	height: 568px;

}

h4 {
	font-family: breuer;
	font-weight: 100;
	font-size: 2.3em;
	width: 95%;
	height: 320px;
	line-height: 1em;
}

.firstwords {
	font-family: breuer;
	font-weight: 100;
	font-size: 2.3em;
	width: 95%;
	height: 120px;
	line-height: 1em;
	margin-top: 40px;
}

.starttext{
	height: 860px;
	width: 320px;	
}

.starttext2{
	height: 960px;
	width: 320px;	
}


/*.championtitle{
	margin: 15.5% 0px 0px 47%;
}*/

/*.championtext{
	margin: 31% 0px 0px 50.8%;
}*/

.championtitle{
	margin: 81% 0px 0px 5%;
}



.plans{
	width: 78%;
	/*height: 700px;*/
	/*margin: 0px 0px 0px 20%;*/

}

.lgbuilt {
	font-weight: 500;
	font-size: 6em;
	width: 100%;
	height: 247px;
	margin: 0px 0px 0px -1%;
	padding: 16% 0px 0px 0px;
}

.blacktrianglesfooter{
	background-color: #151515;
	width: 100%;
	height: 250px;
}

.container{
	width: 320px;
	/*margin: 0px;*/
}

.viewplan{
	font-size: 1.4em;
	margin: -25px 0px 0px 8.5%;
	height: 10px;

	}

.headericon{
	margin: 0px 0px 0px 41%;
	width: 16%;
}

h2 {
	font-weight: 500;
	font-size: 4em;
	width: 85%;
	height: 95px;
}

.twophone {
	font-weight: 500;
	font-size: 3.5em;
	width: 100%;
	height: 87px;
}

h3 {
	font-size: 1.5em;
	height: 30px;
	margin-top: 0px;
	width: 80%;
}

.phonedisplay{
	display: none;
}

.intense{
	height: 100px;
	margin-top: 50px;
}

.kylecover {
	background: url(img/kylecover.png) no-repeat center;
	background-size: cover;
	border-top: 0px solid #ffe400;
	width: 100%;
	height: 568px;
	z-index: 1;
}


.championtext{
	margin: 127% 5% 0px 2%;
	width: 305px;
	font-size: .9em;
}

.goldfour {
	font-size: 2.5em;
	height: 100px;
	width: 300px;
	margin-left: 5%;
}

/*.championtitle{
	margin: 38% 0px 0px 2%;
	width: 320px;
}
*/
.smchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 3em;
	letter-spacing: -2px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 185px;
	height: 60px;
	margin: 20% 0px 0px 40%;
	padding: 0px;
}


.lgchamp {
	font-family: breuer;
	font-weight: 500;
	font-size: 5em;
	letter-spacing: -4px;
	color: hsla(56, 98%, 52%, 0.65);
	width: 305px;
	height: 100px;
	margin: -40px 0px 0px 0%;
	padding: 0px;
}



.plans{
	padding-top: 30px;
	height: 1000px;
}


.plantitle{
	width: 250px;
	margin: 0px 0px 0px 2%;
}



.col-lg-3{
	width: 100%;
	height: 255px;
	margin: 0px 0px 0px 0%;
	margin-bottom: 17%
}

.proteinc{
	height: 630px;
}

.accountcover {
	background: url(img/accountcover.png) no-repeat center;
	height: 568px;
}

.firstlogin{
	margin: 54% 0px 0% 5.5%;
	width: 88%;
	height: 220px;
}

.loginbtn{
	margin: 144% 0px 0px 8%;
}

.createaccountbox{
	margin: 120% 0px 0px 23.7%;
}

.logintitle{
	margin: 31% 0px 0px 21.5%;
	width: 200px;
}

.lglogin {
	font-size: 6em;
	letter-spacing: -4px;
	margin: -78px 0px 0px 0px;
	width: 200px;
	height: 100px;
}

.smlogin {
	margin: -23px 0px 0px 35%;
	width: 170px;
	height: 50px;
}

.createtitle {
	margin: -37% 0px 0px -11%;
	width: 200px;
}

.smaccount {
	margin: -45px 0px 0px 2%;
	width: 200px;
	height: 70px;
}

.trainingcover {
	background: url(img/trainingcover.png) no-repeat center;
	height: 568px;
}

.trainingtitle{
	margin: 30% 0px 0px 19%;
	width: 243px;
}

.lgtraining {
	width: 230px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smplans {
	width: 150px;
	height: 50px;
	margin: -40px 0px 0px 95px;
}

.planlinks{
	margin: 140% 0px 0px 0%;
	width: 100%;
}

.blacktriangles{
	background-color: #111111;
	width: 100%;
	height:1000px;
}

.sellplan{
/*	padding-top: 90px;*/
	height: 1150px;
}

.addcart{
	font-size: 3em;
	width: 270px;
	height: 65px;
	padding: 15px;
	margin: 8% 0% 0% 20%;
	border: solid 1px #111111;
	color: #111111;
	margin: 3% 0% 0% 3.6%;
}

.purchasetext{
	margin-top: 30px;
	height: 210px;
}

.headquarters{
	height: 210px;
}

.headquartercontainer{
	margin-top: 70px;
	height: 220px;
	width: 90%;
}

.textmessage{
	width: 90%;
	height: 340px;
}

textarea{
	font-family: breuer;
	font-size: 2em;
	line-height: 1em;
	width: 95%;
	height: 300px;
}

.contactcontainer{
	width: 90%;
	height: 640px;
}

.phone {
	width:90%;
	height: 80px;
	margin: 22px 0px 0px 4%;
}

.phone3 {
	width: 90%;
	height: 80px;
	margin: 22px 0px 0px 4%;
}

.purchaseprocess2{
	margin: 0px;
	margin-top: 430px;
	padding: 0px;
	width: 100%;
	height: 502px;
	border-bottom: solid 1px #837f31;
	border-top: solid 1px #837f31;
}

.smbtnsubmit {
	float: left;
	margin: 32px 0px 0px 0px;
	height: 75px;
	width: 100%;
	border-left: none;
	clear: both;
	margin-bottom: 40px;
	border-top: none;
}

.submitsm{
	float: left;
	font-size: 1.6em;
	width: 168px;
	height: 40px;
	margin-top: 18px;
	margin-left: 19%;
	padding: 10px;
	/*text-transform: uppercase;*/
	border: solid 1px #111111;
	color: #111111;
}

.shopcover {
	background: url(img/shopcover.png) no-repeat center;
	height: 568px;
}

.sellprotein{
	height: 1830px;
}

/*.planc{
	height: 700px;
}*/

.sellshirts{
	padding-top: 25px;
	height: 2790px;
}

.proteincovertitle{
	margin: 70% 0px 0px 9%;
	width: 270px;
}

.lgprotein {
	width: 230px;
	height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.smapparel {
	width: 180px;
	height: 100px;
	margin: -37px 0px 0px 35px;
}

.shirtcontainer{
	padding-top: 25px;
	height: 1050px;
	width: 95%;
}


.shirtbox{
	height: 900px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.shirtinfo{
	float: left;
	height: 457px;
	width: 100%;
	margin:40px 0px 0px 0px;
}

.moreshirts {
	display: none;
}


.smshirtc{
	height: 250px;
	margin-top: 50px;
}

.shirtc{
	width: 100%;
	height: 410px;
	margin: 40px 0px 0px 0px;
}


.shirtpage{
	float: left;
	margin: 0px 0px 0px 0%;
	padding: 0px;
	width: 100%;
}

.shirtsizebox{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 40px;
	margin-top:10px;
	border: 1px solid #837f31;
}

.sizecontainer{
	margin: 60px 0px 0px -10px;

}


.purchaserow{
	height: 690px;
	width: 100%;
	margin:0;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.24);
	margin-bottom: 30px;
}

.proteinpic2{
	float: left;
	margin: 0px 0px 0px 0%;
	width: 100%;
}

.purchaseinfo{
	float: left;
	height: 237px;
	width: 100%;
	margin:40px 0px 0px 0px;
}

.purchasecart{
	padding-top: -225px;
	height: 1171px;
	border-top: 1px solid #837f31;
	/*border-bottom: 1px solid #837f31;*/
}

.sizequantitycart{
	float: left;
	width: 190px;
	height: 60px;
	margin: 23% 0px 0px -10px;
}

.totaltitle {
	margin:27px 0px 0px 0%;
	width: 50%;
}

.totalnumber {
	margin: 27px 0px 0px -20%;
	width: 25%;
}

.purchaseprocesscontainer{
	margin-top: 100px;
	width: 320px;
	height: 600px;
	padding: 0px;
}

.plantitlecart {
	margin-left: 0%;
	width: 80%;
}

.plantitlephone {
	margin-left: 8%;
	width: 80%;
}

.purchaseprocess{
	margin: 0px;
	margin-top: 60px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-top: solid 1px #837f31;
	border-bottom: solid 1px #837f31;
}

.purchaseprocess2{
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 110px;
	border-bottom: solid 1px #837f31;
}

.buybox {
	margin-top:0px;
	height: 685px;
}

.planbox{
	margin: 0% 0px 0px 8%;
}

.purchasetext{
	margin-top: 50px;
}

.purchasebox { 
	width: 50%;
    background-color: #ffffff;
    /*border: solid 1px #ffffff;*/ 
    outline: none !important;
    border:none;
    box-shadow: none;
    color: #333333;
}

.purchasebox2{
	width: 48%;
}

.purchasebox3 {
	width: 100%;
}

.head{
	margin-top: 50px;
}

.thankyoutext{
	margin-top: -40px;
	height: 520px;	
}

.phoneinfo{
	margin-top: -35px;
}

.phoneinfo2{
	margin-top: -85px;
}

.smbtnprotein{
	margin: 0 0 0 2%;
}

}



