<div class="container head room" >
    <div class="headericonbox">
        <img class="headericon" src="img/headericon.png"/>
    </div>
    <h2 class="twophone">LRC HEADQUARTERS</h2>
    <h3>the largest bodybuilding facility in the nation</h3>
</div>

<div class="container headquartercontainer">
    <img class="headquarters" src="img/headquarters.png"/>
</div>

<div class="container textmessage">
    <form>
        <textarea name="message" placeholder="Please feel free to contact us with any questions or comments that you have. We are dedicated to providing the best service/product possible."></textarea>

    </form>
</div>

<div class="container contactcontainer">

    <div class="purchaseprocesscontact">
        <input class="purchasebox"type="text" name="input" placeholder="Email">
        <div class="smbtnsubmit">
            <a><h4 class="submitsm">Submit</h4></a>
        </div>
    </div>
    <div class="purchaseprocess2">
        <h3 class="phone">Phone: (801) 484-1921</h3>
        <h3 class="phone">Email: support@lrc.com</h3>
        <h3 class="phone phone3">Address: 2240 S 1300 E, Salt Lake City, UT 84106</h3>
    </div>

</div>
<div class="blacktrianglesfooter">
    <h1 class="lgbuilt">PREPARE TO BE </br>LRC BUILT</h1>
</div>
