			
			<div class="trainingtitle">
				<h1 class="lgtitle lgtraining">TRAINING</h1>
				<h1 class="smtitle smplans">PLANS</h1>
			</div>

			<div class="planlinks">

			<div class="planbox">
    		<a href="/#/plans/storm"><img class="plantitleicon" src="img/cloud.png"/></a>
   			<a href="/#/plans/storm"><h6 class="learnmore">STORM</h6></a>
			</div>

			<div class="planbox">
   			 <a href="/#/plans/frenzy"><img class="plantitleicon" src="img/rain.png"/></a>
    		 <a href="/#/plans/frenzy"><h6 class="learnmore">FRENZY</h6></a>
			</div>

			<div class="planbox">
   			 <a href="/#/plans/rampage"><img class="plantitleicon" src="img/bolt.png"/></a>
    		<a href="/#/plans/rampage"><h6 class="learnmore">RAMPAGE</h6></a>
			</div>

			</div>
						
			<div class="trainingcover"></div>
						


			

						<div class="container head room" >
								<div class="headericonbox">
								<img class="headericon" src="img/headericon.png"/>
								</div>
								<h2>RAMPAGE TRAINING PLAN</h2>
								<h3 class="phonedisplay">a complete muscle build</h3>
							</div>

						<div class="container starttext">
							<h4 class="planinfotext">This plan has been tried and tested. Building massive amounts of muscle and wining competetions is what the LRC team has designed this plan to do. With a personal trainer you will know what to do very step of the way.</h4> 
					
							<h4 class="planinfotext">Your muscles will need to given the right amounts of protein. LRC will provide the protien and custom meal plans you will need to feed your muscles. You will regularly meet with a dietitian to create your plans and adjust them according to your bodys needs. </h4> 
						</div>

						<div class="blacktriangles">

							<div class="container sellplan">
								<div class="col-lg-3 planc">
									<img class="planicon" src="img/bolt.png"/>
									<h3 class="plantitle">TRAINER</h3>
									<h5 class="featureblacktext">For a complete muscle building experience a personal trainer will guide you.</h5>
								</div>

								<div class="col-lg-3 planc">
									<img class="planicon" src="img/bolt.png"/>
									<h3 class="plantitle">CUSTOM MEALS</h3>
									<h5 class="featureblacktext">Custom meals will be planned just for you.</h5>
								</div>
							
								<div class="col-lg-3 planc">
									<img class="planicon" src="img/bolt.png"/>
									<h3 class="plantitle">LRC PROTEIN</h3>
									<h5 class="featureblacktext">Along with your meal plans you will recieve the protien you need to build mass.</h5>
								</div>
							</div>
						
						</div>

						<div class="container buybox" >
								<h2>PURCHASE RAMPAGE</h2>
								<h3>&#36;149.99 monthly membership</h3>
								<h4 class="purchasetext">As LRCS most intense plan it will give you results like you have never seen. Are you ready to be LRC built? </h4> 

								<a><h4 class="addcart" ng-click="add_to_cart('rampage')">Add to cart</h4></a>
						</div>

						
						<div class="blacktrianglesfooter">

								<h1 class="lgbuilt">PREPARE TO BE </br>LRC BUILT</h1>

						</div>

							