<div class="covertitle proteincovertitle">
    <h1 class="lgtitle lgprotein">PROTEIN</h1>
    <h1 class="smtitle smapparel">&#38; APPAREL</h1>
</div>

<div class="learnmorebox">
    <h6 class="learnmore">SHOP</h6>
    <img class="arrow" src="img/downarrow.png"/>
</div>

<div class="shopcover"></div>
<div class="container head room" >
    <div class="headericonbox">
        <img class="headericon" src="img/headericon.png"/>
    </div>
    <h2>LRC PROTEIN</h2>
    <h3>give your muscles what they crave</h3>
</div>

<div class="container sellprotein">
    <div class="col-lg-3 proteinc">
        <img class="proteinpic" src="img/protein.png"/>
        <h3 class="plantitle">CHOCOLATE &#36;59</h3>
        <h5 class="plantext">Includes specialized trainers that will guide you everystep of the way.</h5>
        <div class="smbtnprotein">
            <a><h4 class="addcartprotein" ng-click="add_to_cart('protein')">Add to cart</h4></a>
        </div>
    </div>

    <div class="col-lg-3 proteinc">
        <img class="proteinpic" src="img/protein.png"/>
        <h3 class="plantitle">VANILLA &#36;59</h3>
        <h5 class="plantext">A plan that will fuel your workouts with intense trainers and meal plans</h5>
        <div class="smbtnprotein">
                <a><h4 class="addcartprotein" ng-click="add_to_cart('protein')">Add to cart</h4></a>
        </div>
    </div>

    <div class="col-lg-3 proteinc">
        <img class="proteinpic" src="img/protein.png"/>
        <h3 class="plantitle">STRAWBERRY &#36;59</h3>
        <h5 class="plantext">Building serious muscle with a personal trainer and custom meal plans. </h5>
        <div class="smbtnprotein">
                <a><h4 class="addcartprotein" ng-click="add_to_cart('protein')">Add to cart</h4></a>
        </div>
    </div>
</div>

<div class="container head room" >
    <div class="headericonbox">
    <img class="headericon" src="img/headericon.png"/>
    </div>
    <h2>LRC APPAREL</h2>
    <h3>look part of the lrc team</h3>
</div>

<div class="container sellshirts">
    <a href="/#/shirt"><div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">CHOCOLATE &#36;59</h3>
    </div></a>

    <div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">VANILLA &#36;59</h3>
    </div>

    <div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">CHOCOLATE &#36;59</h3>
    </div>

    <div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">VANILLA &#36;59</h3>
    </div>

    <div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">CHOCOLATE &#36;59</h3>
    </div>

    <div class="col-lg-6 shirtc">
        <img class="proteinpic" src="img/shirt.png"/>
        <h3 class="plantitle">VANILLA &#36;59</h3>
    </div>
</div>

<div class="blacktrianglesfooter">
    <h1 class="lgbuilt">PREPARE TO BE </br>LRC BUILT</h1>
</div>
