		
			<header></header>			


			

						<div class="container head room" >
								<div class="headericonbox">
								<img class="headericon" src="img/headericon.png"/>
								</div>
								<h2>LRC APPAREL</h2>
								<h3>you will love it</h3>
						</div>


						<div class="container shirtcontainer">
							<div class=" shirtbox">
								<img class="shirtpage" src="img/sweats.png"/>
								
								<div class="shirtinfo">
									<h3 class="plantitlecart">JOGGERS &#36;25</h3>
										<div class="priceinfo">
											<h3 class="plantitlecart"></h3>
										</div>
									<h5 class="plantextcart">Includes specialized trainers that will guide you everystep of the way. Building serious muscle with a personal trainer and custom meal plans.</h5>


									<div class="sizecontainer">
										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">XS</h4></a>
										</div>

										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">S</h4></a>
										</div>

										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">M</h4></a>
										</div>

										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">L</h4></a>
										</div>

										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">XL</h4></a>
										</div>

										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">XXL</h4></a>
										</div>
									</div>

									<div class="sizequantity">
										<div class="container shirtsizebox" >
										<a><h4 class="shirtsize">1</h4></a>
										<h5 class="quantitytitle">QUANTITY</h5>
										</div>
									</div>

									<div class="smbtn">
										<a><h4 class="addcartsm" ng-click="add_to_cart('sweats')">Add to cart</h4></a>
									</div>
									
								</div>
								

							</div>
						</div>

						
						<!-- <div class="container totalrow">
							<h3 class="totalnumber">&#36;159</h3>
							<h3 class="totaltitle">TOTAL</h3>
						</div> -->

						<div class="container moreshirts" >
							<div class="col-lg-3 smshirtc">
								<a href="/#/shirt"><img class="proteinpic" src="img/vneck.png"/></a>
							</div>

							<div class="col-lg-3 smshirtc">
								<a href="/#/hoodie"><img class="proteinpic" src="img/hoodie.png"/></a>
							</div>
							
							<div class="col-lg-3 smshirtc">
								<a href="/#/hat"><img class="proteinpic" src="img/hat.png"/></a>
							</div>
						</div>


						</div>

						<div class="blacktrianglesfooter">
							<h1 class="lgbuilt">PREPARE TO BE </br>LRC BUILT</h1>
						</div>

				
			<!-- <footer></footer>	 -->
